@model WebApplication4.Models.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student</title>
</head>
<body>
    <div>
        student RollNo:-@Model.StudentRollNo <br/>
        student Name :-@Model.StudentName <br/>
        student Standard:-@Model.StudentStd <br/>
        student Division:-@Model.StudentDiv <br/>
    </div>
    
  
</body>
</html>
