<!DOCTYPE html>

<html>

<body>
    
        <ul>
            student RollNo :
            student Name :
            student Standard 
            student Division :
            
        </ul>
  
</body>
</html>
